body {
  /* background-color: rgba(252, 225, 225, 0.133); */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  text-align: center;
}

.avatar {
  width: 300px;
  height: 300px;
}

.header__title {
  font-size: 28px;
}

.header__subtitle {
  color: rgb(61, 127, 186);
}

main {
  border: 1px solid darkgray;
  text-align: center;
}

.skills ol {
  list-style: none;
}

.separator {
  width: 50%;
  height: 3px;
  background-color: #06d4f9;
}

.video {
  width: 800px;
  height: 490px;
  border: none;
}

.ed__table {
  border-collapse: collapse;
  width: 100%;
}

.ed__table th,
.ed__table td {
  border: 1px solid black;
  padding: 10px;
}

.blockquote {
  font-size: 32px;
  font-weight: 700;
}

.form {
  width: 300px;
  margin: 0 auto;
}

.fieldset {
  padding: 20px;
}

.form__control {
  width: 100%;
}

.control__text {
  width: 70%;
}

.form__submit {
  display: block;
  margin: 0 auto;
}

footer {
  height: 100px;
  text-align: center;
  background-color: #f1f1f1;
}
